<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form id="main" v-cloak>

        <div class="bar">
            <!-- Create a binding between the searchString model and the text field -->

            <input type="text" v-model="searchString" placeholder="عبارت مورد نظر خود را وارد کنید" />
        </div>

        <ul>
            <!-- Render a li element for every entry in the computed filteredArticles array. -->

            <li v-for="article in filteredArticles">
                <a v-bind:href="article.url"><img v-bind:src="article.image" /></a>
                <p>{{article.title}}</p>
            </li>
        </ul>

    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="main.js"></script>
</body>

</html>