<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="vue.js"></script>

<div id="root">
    <input type="text" id="input" v-model="message">
    <p>The value of the message is: {{ message }}</p>
</div>

<script>
    new Vue ({
        el : '#root',
        data : {
            message : 'Hello IOTA'
        }
    })
</script>

</body>
</html>