<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">

    <style>
        body{padding-top: 40px;}
    </style>
</head>
<body>
<script src="vue.js"></script>

<div id="root" class="container">
    <modal v-if="showModal" @close="showModal=false"></modal>

    <button type="button" @click="showModal=true">Show Modal</button>
</div>

<script>
    Vue.component('modal',{
        template: `
            <div class="modal is-active">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="box">
                        <p> this is a text </p>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close" @click="$emit('close')"></button>
            </div>
        `,
    });
    new Vue({
        el: '#root',
        data:{
            showModal: false,
        }
    });
</script>
</body>
</html>