<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="vue.js"></script>

<div id="root">
    <task-list></task-list>
</div>

<script>
    Vue.component('task-list',{
        template:'<div><task v-for="task in tasks">{{ task.description }}</task></div>',
        data(){
            return{
                tasks:[
                    {description: 'Go to Bank', completed: true},
                    {description: 'Go to School', completed: false},
                    {description: 'Go to Work', completed: false},
                    {description: 'Go Home', completed: true},
                ]
            }
        }
    })

    Vue.component('task',{
        template:'<ul><li><slot></slot></li></ul>'
    })

    new Vue({
        el: '#root'
    })
</script>
</body>
</html>