<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="vue.js"></script>

    <div id="root">
        <ul>
            <li v-for="name in names">{{ name }}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#root',
            data: {
                names: ['Joe','Mary','Jack','John'],
            }
        })
    </script>
</body>
</html>