<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="vue.js"></script>

<div id="root">
    <ul>
        <li v-for="name in names" v-text="name"></li>
    </ul>

    <input id="input" type="text">
    <button id="button">Add Name</button>
</div>

<script>
    var app = new Vue({
        el: '#root',
        data: {
            names: ['Joe','Mary','Jack','John'],
        },

        mounted(){
            document.querySelector('#button').addEventListener('click', () => {
                let name = document.getElementById('input');
                app.names.push(name.value);

                name.value = '';
            });
        }
    })


</script>
</body>
</html>