<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="vue.js"></script>

<div id="root">
    <ul>
        <li v-for="name in names" v-text="name"></li>
    </ul>

    <input type="text" v-model="newName">
    <button v-on:click="addName">Add Name</button>
    <button @click="addName">Add Name</button>
</div>

<script>
    var app = new Vue({
        el: '#root',
        data: {
            newName: '',
            names: ['Joe','Mary','Jack','John'],
        },

       methods:{
            addName(){
                this.names.push(this.newName);
                this.newName = '';
            }
       }
    })


</script>
</body>
</html>