<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<script src="vue.js"></script>

<div id="root" class="container">
    <iota-message title="hello world" body="this is body"></iota-message>
    <iota-message title="hello Universe" body="this is body"></iota-message>
</div>

<script>
    Vue.component('iota-message',{
        props: ['title', 'body'],
        data(){
            return{
                isVisible: true
            };
        },
        template: `
            <div class="jumbotron" v-show="isVisible">
                <h1 class="display-3">
                    {{ title }}
                    <button class="close" type="button" @click="hideModal">X</button>
                    <p>-------</p>
                    <button class="close" type="button" @click="isVisible = false">X</button>
                </h1>
                <p class="lead">{{ body }}</p>
            </div>
        `,
        methods:{
            hideModal(){
                this.isVisible = false;
            }
        }
    })
    new Vue({
        el: '#root',
    })
</script>

</body>
</html>